html,body{
    background-color: rgb(14, 4, 23);
    color:white;
    font-family: 'Orbitron',sans-serif;
    display: flex;
    height: 100%; 
    flex-direction: column; 
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 2px solid #3d005a;
    box-shadow: 0 2px 10px rgba(180, 0, 255, 0.3);
    align-items: center;
    background-color: rgb(14, 4, 23);
}
nav ul{
    display: flex;
    gap: 18px;
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.logo {
  font-size: 28px;
  color: #b56aff;
  margin: 0;
  font-weight:700
}
nav ul li a{
  color: #c1bcc6;
  text-decoration: none;
}
nav ul li a:hover {
  color: #b56aff;
  text-shadow: 0 0 10px #b56aff;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.bienv{
  font-size: 80px;
}
.text-bienv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  margin: 35px;
}
.imagenbv{
    width: 400px;
}
main {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}
footer{
  background-color: rgb(14, 4, 23);
  color: #b56aff;
  text-align: center;
  border-top: 2px solid #3d005a;
  box-shadow: 0 -2px 10px rgba(180, 0, 255, 0.3);
  padding: 15px 0;
}
